body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  padding-top: 10px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
}

nav {
  position: fixed;
  top: 0;
  margin-left: -40px;
}

ul li {
  padding: 2px;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: red;
}

main {
  width: 70%;
  margin: 0 auto;
}

section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  margin: 50px;
  padding: 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px;
}

h3 {
  font-size: 16px;
  margin: 0 0 2px;
}

iframe {
  border: none;
  height: 1500px;
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer div {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Distributes space between and around content items */
}

footer p {
    flex: 1; /* Allows the paragraph to grow and take necessary space */
    margin-right: 20px; /* Adds spacing between the text and the image */
}

footer img {
    flex-shrink: 0; /* Prevents the image from shrinking */
}


img {
  border-radius: 50%;
}

@media (max-width: 768px) {
  main {
      width: 100%;
      padding: 0 20px;
  }
  section {
      margin: 20px 0;
  }
}


iframe[src*="youtube.com"] {
  width: 50%; /* You can adjust the width as you need */
  height: 300px; /* You can adjust the height as you need */
  margin: 0 auto; /* Centers the iframe horizontally */
  display: block; /* Makes the iframe behave like a block-level element */
}

